.review .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.review .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.review .swiper-slide img {
  display: block;
  width: 100%;
}
.review{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.bottom-title::before{
  content: '';
  position: absolute;
  width: 250px;
  height: 8px;
  background-color: orange;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
}