.custom-shadow{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 2px solid rgba(19, 157, 161, 0.671);
}
.custom-shadow img{
  height: 250px;
}
.price{
  font-family: 'Abril Fatface', cursive;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 22px;
}
.quantity{
  font-family: 'Abril Fatface', cursive;
}